@charset "UTF-8";
body {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  background-color: #ffffff;
  color: #757575;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.project-img {
  width: 450px;
}

.team-img {
  width: 450px;
}

.box-header {
  width: 100%;
}

.conteiner {
  margin: 0 auto;
  padding: 0 15px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

@media screen and (min-width: 480px) {
  .conteiner {
    min-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .team-img {
    width: 354px;
  }
  .project-img {
    width: 354px;
  }
  .conteiner {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .team-img {
    width: 270px;
  }
  .project-img {
    width: 370px;
  }
  .conteiner {
    width: 1200px;
  }
}
.header {
  position: relative;
  height: 60px;
}
.header__logo-link {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: auto;
  margin-bottom: auto;
  position: absolute;
  bottom: 16px;
}
.header__logo {
  color: #2196f3;
}
.header__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
}
.header__icon {
  position: absolute;
  right: 15px;
  top: 10px;
  z-index: 2;
}

.box-header.is-open {
  position: fixed;
}

.box-header {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  padding: 48px 40px 48px 40px;
  z-index: 1;
  -webkit-transform: translateY(-300%);
          transform: translateY(-300%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.box-header.is-open {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.header__button .icon-close {
  display: none;
}

.header__button.is-open .icon-close {
  display: block;
}

.header__button.is-open .icon-menu {
  display: none;
}

.header-contact__icon-tel,
.header-contact__icon-mail {
  display: none;
}

.anim-link {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  letter-spacing: 0.02em;
}

.header-contact__mail {
  font-weight: 500;
  font-size: 28px;
  line-height: 40px;
  color: #757575;
  letter-spacing: 0.02em;
}

.header-contact__tel {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
}

.header-contact__item:not(:last-child) {
  margin-bottom: 32px;
}

.conteiner-nav__link {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: #212121;
}

.conteiner-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.header__join {
  position: absolute;
  bottom: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__link-join {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  padding-left: 10px;
  padding-right: 10px;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.header__link-join:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.anim-link {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.anim-link:hover,
.anim-link:focus {
  color: #2196f3;
}

.anim-icon {
  fill: #212121;
}

.anim-icon:hover,
.anim-icon:focus {
  fill: #2196f3;
}

.header-line {
  width: 100vw;
  border-bottom: 1px solid #f5f4fa;
}

@media screen and (max-width: 767px) {
  .header-contact {
    position: absolute;
    bottom: 134px;
  }
}
@media screen and (min-width: 768px) {
  .header {
    width: 768px;
    height: 80px;
  }
  .header__logo-link {
    top: 24px;
  }
  .header__button {
    overflow: hidden;
    display: none;
  }
  .header__join {
    display: none;
  }
  .box-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    padding: 0;
    z-index: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    -webkit-transition: -webkit-transform 0ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 0ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 0ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 0ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .box-header.is-open {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  .conteiner-nav__link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
  }
  .header-contact__mail,
.header-contact__tel {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
  }
  .header-contact {
    margin-left: 600px;
    margin-top: 21px;
  }
  .header-contact__tel, .header-contact__mail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .conteiner-nav__list {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 32px;
    margin-left: 222px;
  }
  .conteiner-nav__item:not(:last-child) {
    margin-right: 50px;
  }
  .header-contact__item:not(:last-child) {
    margin-bottom: 0px;
  }
  .header-contact__icon-tel,
.header-contact__icon-mail {
    display: block;
    margin-right: 8px;
  }
  .header-contact__mail {
    margin-bottom: 10px;
  }
  .header-contact__icon-mail {
    vertical-align: -1px;
    width: 16px;
    height: 12px;
    fill: currentColor;
  }
  .header-contact__icon-tel {
    vertical-align: bottom;
    width: 10px;
    height: 16px;
    fill: currentColor;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    width: 1200px;
  }
  .header__logo-link {
    top: 24px;
  }
  .header__logo {
    color: #2196f3;
  }
  .сonteiner-nav__list {
    position: relative;
    margin-left: 93px;
    margin-top: 32px;
  }
  .header-contact__mail,
.header-contact__tel {
    font-size: 14px;
    line-height: 16px;
  }
  .header-contact__mail {
    margin-right: 30px;
    margin-bottom: 0;
  }
  .header-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    margin-top: 32px;
    margin-left: 846px;
  }
}
.portfolio__box {
  padding-top: 60px;
  padding-bottom: 60px;
}

.filter-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
  cursor: pointer;
  padding: 6px 22px 6px 22px;
  border-radius: 4px;
  border: none;
  margin-top: 15px;
  padding: 6px 22px 6px 22px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__filter-item:not(:last-child) {
  margin-right: 8px;
}

.filter-button:hover,
.filter-button:focus {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio__filter-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 0;
  margin: 0px;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .filter-button {
    margin-top: 0px;
  }
  .portfolio__filter-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__box {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .filter-button {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    background-color: #f5f4fa;
    cursor: pointer;
    padding-left: 0;
    border-radius: 4px;
    border: none;
    padding: 6px 22px 6px 22px;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio__filter-item:not(:last-child) {
    padding-right: 8px;
  }
  .filter-button:hover,
.filter-button:focus {
    color: #ffffff;
    background-color: #2196f3;
    -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
  }
  .portfolio__filter-list {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0px;
    margin-bottom: 50px;
  }
}
.project__item:hover,
.project__item:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project__item:hover .project__info-text,
.project__item:focus .project__info-text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.project__list {
  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 0;
  margin: 0;
  gap: 30px;
}
.project__box {
  position: relative;
  overflow: hidden;
}
.project__item {
  border: 1px solid #f5f4fa;
  width: 100%;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project__info-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  opacity: 2;
  width: 100%;
  height: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project__info-box {
  padding: 20px 24px 20px 24px;
  border-top: none;
}
.project__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}
.project__tital {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.project__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .project__item {
    width: 354px;
  }
  .project__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .project__item:not(:last-child) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .project__item:hover,
.project__item:focus {
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  .project__item:hover .project__info-text,
.project__item:focus .project__info-text {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .project__list {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-left: 0;
    margin: 0;
    gap: 30px;
  }
  .project__box {
    position: relative;
    overflow: hidden;
  }
  .project__item {
    border: 1px solid #f5f4fa;
    width: 354px;
    -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .project__info-text {
    position: absolute;
    top: 0;
    opacity: 2;
    width: 100%;
    height: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: #ffffff;
    padding: 63px 24px;
    background-color: rgba(33, 150, 243, 0.9);
    -webkit-transform: translateY(101%);
            transform: translateY(101%);
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .project__info-box {
    padding: 20px 24px 20px 24px;
    border-top: none;
  }
  .project__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: #757575;
  }
  .project__tital {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
  }
}
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.join__tital {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-top: 60px;
  margin-bottom: 20px;
}

.sub__tital {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-top: 60px;
  margin-bottom: 20px;
}

.join__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.join__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join__link:hover,
.join__link:focus {
  background-color: #2196f3;
}

.join__item:not(:last-child) {
  margin-right: 10px;
}

.join__link {
  fill: #ffffff;
}

.logo-footer {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: #ffffff;
  letter-spacing: 0.03em;
}

.logo-footer--color-blue {
  color: #2196f3;
}

.contact-footer__adress {
  margin: 0 auto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  font-style: normal;
  margin-top: 20px;
  width: 231px;
}

.contact-footer__mail-box {
  margin-top: 9px;
  margin-bottom: 9px;
}

.contact-footer__mail {
  font-style: normal;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.contact-footer__tel {
  font-style: normal;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.sub {
  width: 100%;
  display: inline-block;
}

.sub__input {
  width: 100%;
  max-width: 450px;
  height: 50px;
  background-color: #2f303a;
  padding: 15px 16px 15px 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-right: 12px;
  margin-bottom: 20px;
}

.sub__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  border: 4px solid #2196f3;
  border-radius: 4px;
  margin: 0 auto;
}

.sub__icon {
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .footer-tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer-adress {
    margin-left: 76px;
  }
  .join {
    top: 65px;
    margin-left: 165px;
    width: 206px;
    -webkit-transform: translateY(-42px);
            transform: translateY(-42px);
  }
  .sub__input {
    width: 450px;
  }
  .sub__button {
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    text-align: start;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footerbox-for-help {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .join {
    margin-top: 53px;
    margin-left: 70px;
    margin-right: 93px;
  }
  .join__tital {
    margin-top: 0px;
  }
  .logo-footer {
    font-size: 26px;
    line-height: 31px;
  }
  .footer-adress {
    margin-left: 0px;
  }
  .sub__tital {
    margin-top: 12px;
  }
  .sub__icon {
    margin-left: 0px;
  }
  .sub-form {
    position: absolute;
  }
  .sub__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .sub__bottom {
    margin: 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .sub__input {
    width: 358px;
  }
}/*# sourceMappingURL=portfolio.css.map */