.clients{
    padding-top: 60px;
    padding-bottom: 30px;
    &__tital{
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 33px;
        letter-spacing: 0.03em;
        text-align: center;
        color: $black-color;
        margin-bottom: 30px;
      }
      &__list{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        list-style: none;
        gap:30px;
      }
      &__link{ 
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 210px;
        height: 92px;
        cursor: pointer;
        fill: $fill-icon;
        border: 1px solid $fill-icon;
        border-radius: 4px;
        padding: 16px 52px;
        transition: fill 250ms $cubic,
        border-color 250ms $cubic;
      }
  }
  .clients__link:hover,
.clients__link:focus{
  fill: $blue-color;
  border-color: $blue-color;
}
.clients__logo{
    display: flex;
    text-align: center;
    justify-content: center;
}

@media screen and (min-width: 480px) {
    
}