.clients{
    padding-top: 94px;
    padding-bottom: 94px;
    &__tital{
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        letter-spacing: 0.03em;
        text-align: center;
        color: $black-color;
        margin-bottom: 50px;
      }
      &__list{
        list-style: none;
        display: flex;
        justify-content: space-between;
      }
      &__link{ 
        display: flex;
        justify-content: center;
        width: 170px;
        height: 92px;
        cursor: pointer;
        fill: $fill-icon;
        border: 1px solid $fill-icon;
        border-radius: 4px;
        padding: 16px 32px;
        transition: fill 250ms $cubic,
        border-color 250ms $cubic;
      }
  }
  .clients-item:not(:last-child){
    margin-right: 30px;
  }
  .clients__link:hover,
.clients__link:focus{
  fill: $blue-color;
  border-color: $blue-color;
}