.header{
    position: relative;

    height: 60px;

    &__logo-link{
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.03em;
        color: $black-color;
        margin-top: auto;
        margin-bottom: auto;
        position: absolute;
        bottom: 16px;
    }
    &__logo{
        color: $blue-color;
    }
    &__button{
        position: absolute;
        right: 15px;
        top: 10px;
        display: inline-flex;
        margin: 0;
        padding: 0;
        border: 0;
        background-color: transparent;
        &.is-open{
            // position: fixed;
        }
        
    }
    &__icon{
        z-index: 2;
    }
}
.box-header.is-open{
    position: fixed;
}

.box-header{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: $white-color;
    padding: 48px 40px 48px 40px ;
    z-index: 1;
    transform: translateY(-300%);
    transition: transform 250ms $cubic;
    &.is-open{
        transform: translateY(0%);
    }
}
.header__button .icon-close{
    display: none;
}
.header__button.is-open .icon-close{
    display: block;
}
.header__button.is-open .icon-menu{
    display: none;
}
.header-contact__icon-tel,
.header-contact__icon-mail{
    display: none;
}

.anim-link{
    font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 47px;
text-align: center;
letter-spacing: 0.02em;
}
.header-contact__mail{
font-weight: 500;
font-size: 28px;
line-height: 40px;
color: $grey-color;
letter-spacing: 0.02em;

}
.header-contact__tel{
    font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;
letter-spacing: 0.02em;
color: $grey-color;

}

.header-contact__item:not(:last-child){
    margin-bottom: 32px;
}
.conteiner-nav__link{
    font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 47px;
letter-spacing: 0.02em;
color: $black-color; 
}
.conteiner-nav{
    &__item:not(:last-child){
        margin-bottom: 32px;
    }
}
.header__join{
    position: absolute;
    bottom: 48px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.header__link-join{
    font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
padding-left: 10px;
padding-right: 10px;
letter-spacing: 0.02em;
color: $blue-color;
}
.header__link-join:not(:last-child){
    border-right: 1px solid rgba(33, 33, 33, 0.2);

}
.anim-link{
    transition: color 250ms $cubic;
  }
.anim-link:hover,
.anim-link:focus{
    color: $blue-color;
}
.anim-icon{
    fill: $black-color
}
.anim-icon:hover,
.anim-icon:focus{
    fill: $blue-color;
}
.header-line{
    width: 100vw;
    border-bottom: 1px solid $background-grey;
  }
  @media screen and (max-width: 767px) {
    .header-contact{
        position: absolute;
        bottom: 134px;
    
    }
}
  @media screen and (min-width: 480px) {

  }
  @media screen and (min-width: 768px) {
      
      .header{
        width: 768px;
          height: 80px;
          &__logo-link{
              top: 24px;
          }
          &__button{
            overflow: hidden;
            display: none;
          }
          &__join{
            display: none;
          }
      }
      .box-header{
        display: flex;
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0);
        padding: 0;
        z-index: 1;
    
        transform: translateY(0%);
        transition: transform 0ms $cubic;
        &.is-open{
            transform: translateY(0%);
        }
    }
    .conteiner-nav__link{
        font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
    }
    .header-contact__mail,
    .header-contact__tel{
        font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 14px;

letter-spacing: 0.02em;
    }
    .header-contact{
        margin-left: 600px;
        margin-top: 21px;
        &__tel,
        &__mail{
            display: flex;
        }
    }
    .conteiner-nav{
        &__list{
            position: absolute;
            display: flex;
            top: 32px;
            margin-left: 222px;


        }
        &__item:not(:last-child){
            margin-right: 50px;
        }
    }
    .header-contact__item:not(:last-child){
        margin-bottom: 0px;
    }
    .header-contact__icon-tel,
.header-contact__icon-mail{
    display: block;
    margin-right: 8px;
}
.header-contact__mail{
    margin-bottom: 10px;
}
.header-contact__icon-mail{
    vertical-align: -1px;
    width: 16px;
    height: 12px;
    fill: currentColor;
  }
  .header-contact__icon-tel{
    vertical-align: bottom;
    width: 10px;
    height: 16px;
    fill: currentColor;
  }
}
@media screen and (min-width: 1200px) {
      .header{
        width: 1200px;

        &__logo-link {
            top: 24px;
          }
          &__logo {
            color: $blue-color;
          }
      }
     
    .сonteiner-nav__list{
        position: relative;
        margin-left: 93px;
        margin-top: 32px;

      }
      .header-contact__mail,
      .header-contact__tel{
  font-size: 14px;
  line-height: 16px;
}
.header-contact__mail{
    margin-right: 30px;
    margin-bottom: 0;
}
.header-contact{
    display: flex;
    position: relative;
    margin-top: 32px;
    margin-left: 846px;
}
}