$blue-color: #2196f3;
$black-color: #212121;
$grey-color: #757575;
$white-color: #ffffff;
$background-white: #ffffff;
$background-grey: #f5f4fa;
$background-black: #2f303a;
$color-a-grey: rgba(255, 255, 255, 0.6);
$main-button: #188ce8;
$fill-icon: #AFB1B8;
$footer-icon-back: rgba(255, 255, 255, 0.1);
$biznes-gradient: rgba(47, 48, 58, 0.4);
$cubic: cubic-bezier(0.4, 0, 0.2, 1);
